@import 'tailwindcss';

@theme {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-card: #f0eeed;
  --color-surface: #f2f0f1;
  --color-discount: #ff3333;
  --color-star: #ffc633;

  --font-sans: 'Satoshi', ui-sans-serif, system-ui, sans-serif;
  --font-heading: 'Integral CF', sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: var(--font-body);
}
